html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

$green: #44C697;
$grey: #1E2E36;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $grey;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
}



